<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
    <a href="#" class="navbar-brand oswald-400" style="margin-left: 50px;">Branch Ledger Online Inquiry</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item" style="margin-right: 40px;">
        <a routerLink="checkers" class="nav-link oswald-400 mr-5">Welcome, Carl Angelo Martin!</a>
      </li>
      
    </div>
  </nav>

  <div class="mt-3">
    <router-outlet></router-outlet>
  </div>
</div>